<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(function () {
            var myMap = new ymaps.Map("map", {
                center: {{ centerMap }},
                zoom: 17,
                controls: []
            });


            {% for marker in markers  %}
                myMap.geoObjects.add(new ymaps.Placemark([{{ marker.latitude }}, {{ marker.longitude }}], {
                    hintContent: '{{ marker.name }}', // Содержимое всплывающей подсказки
                    balloonContent: 'Взята командой: {{  marker.team_taken.name }}'
                    // Содержимое балуна
                }, {
                    iconLayout: 'default#image',
                    iconImageHref: '{{ marker.url_image }}',
                    iconImageSize: [50, 62],
                    iconImageOffset: [-5, -38]
                }));
            {% endfor %}


        });
    </script>

    <title>Статус соревнования</title>
</head>

<body>

<div id="map" style="width: 100%; height: 700px"></div>

<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Название команды</th>
        <th>Кол-во собранных меток</th>
        <th>Кол-во штрафных очков</th>
    </tr>

    {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.taken_markers.count }}</td>
            <td>{{ team.count_fail_marker_key }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>