<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        body {
            margin-right: 1%;
            margin-left: 1%;
        }
    </style>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            ymaps.ready(function () {
                myMap = new ymaps.Map("map", {
                    center: {{ centerMap }},
                    zoom: 17,
                    controls: []
                });


                {% for team in teams %}
                    myMap.geoObjects.add(new ymaps.Placemark([{{ team.latitude }}, {{ team.longitude }}], {
                        hintContent: '{{ team.name }}',
                        // Содержимое балуна
                    }, {
                        iconLayout: 'default#image',
                        iconImageHref: '{{ team.url_image }}',
                        iconImageSize: [25, 25],
                        iconImageOffset: [-5, -38]
                    }));

                {% endfor %}


                {% for marker in markers  %}
                    myMap.geoObjects.add(new ymaps.Placemark([{{ marker.latitude }}, {{ marker.longitude }}], {
                        hintContent: '{{ marker.name }}', // Содержимое всплывающей подсказки
                        balloonContent: 'Взята командой: {{  marker.team_taken.name }}'
                        // Содержимое балуна
                    }, {
                        iconLayout: 'default#image',
                        iconImageHref: '{{ marker.url_image }}',
                        iconImageSize: [60, 60],
                        iconImageOffset: [-5, -38]
                    }));
                {% endfor %}

            });

            function updateData() {
                $.ajax('get_status_json/', {
                    success: function (data) {
                        $('#status').text("Идёт соревнование!");

                        myMap.geoObjects.removeAll();


                        data.markers.forEach(function (marker, i, arr) {
                            myMap.geoObjects.add(new ymaps.Placemark([marker.latitude, marker.longitude], {
                                my_id: marker.id,
                                hintContent: marker.name, // Содержимое всплывающей подсказки
                                balloonContent: 'Взята командой: ' + marker.team_id
                                // Содержимое балуна
                            }, {
                                iconLayout: 'default#image',
                                iconImageHref: marker.url_image,
                                iconImageSize: [60, 60],
                                iconImageOffset: [-5, -38]
                            }));
                        });

                        var turnirTable = document.getElementById('turnerTable');
                        while (turnirTable.rows.length !== 0) {
                            turnirTable.deleteRow(0);
                        }


                        tr = document.createElement('tr');

                        th = document.createElement('th');
                        th.innerHTML = "Название команды";
                        tr.appendChild(th);

                        th = document.createElement('th');
                        th.innerHTML = "Кол-во собранных меток";
                        tr.appendChild(th);

                        th = document.createElement('th');
                        th.innerHTML = "Кол-во штрафных очков";
                        tr.appendChild(th);

                        th = document.createElement('th');
                        th.innerHTML = "Жизни";
                        tr.appendChild(th);

                        turnirTable.appendChild(tr);


                        data.teams.forEach(function (team, i, arr) {
                            var newRow = turnirTable.insertRow(i + 1);
                            var nameTeam = newRow.insertCell(0);
                            var countMarker = newRow.insertCell(1);
                            var countFail = newRow.insertCell(2);
                            var standardOfLiving = newRow.insertCell(3);

                            nameTeam.innerHTML = team.name;
                            countMarker.innerHTML = team.taken_markers_count;
                            countFail.innerHTML = team.count_fail_marker_key;
                            standardOfLiving.innerHTML = team.standard_of_living;

                            myMap.geoObjects.add(new ymaps.Placemark([team.latitude, team.longitude], {
                                my_id: team.id,
                                hintContent: team.name,
                                // Содержимое балуна
                            }, {
                                iconLayout: 'default#image',
                                iconImageHref: team.url_image,
                                iconImageSize: [25, 25],
                                iconImageOffset: [-5, -38]
                            }));
                        });


                        console.log(data);
                    },

                    error: function () {
                        $('#status').text("Error!!!");
                    }
                });
            }

            setInterval(function () {
                updateData()
            }, 1500);

        });

    </script>

    <title>Статус соревнования</title>
</head>

<body>
<div id="container">
    <h1 id="status">Загрузка данных...</h1>

    <div id="map" style="width: 100%; height: 700px"></div>

    <table border="1" width="100%" cellpadding="5" id="turnerTable">
        <tr>
            <th>Название команды</th>
            <th>Кол-во собранных меток</th>
            <th>Кол-во штрафных очков</th>
            <th>Жизни</th>
        </tr>

        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.taken_markers.count }}</td>
                <td>{{ team.count_fail_marker_key }}</td>
                <td>{{ team.standard_of_living }}</td>
            </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>
